center
    h2= message
    table
        tr
            td Link entered :
            td= url
    p Please enter a valid github repository address
    button(onclick="javascript:window.history.go(-1)") Request another link