button(onclick="javascript:window.history.go(-1)") search another
table
  tr
    td f_total_issues 
    td f_less_one_day
    td f_betw_one_seven
    td f_more_than_seven
  tr
    td= f_total_issues 
    td= f_less_one_day
    td= f_betw_one_seven
    td= f_more_than_seven

